/* BACKGROUND*/
body {
  background-image: url(assets/background.png);
  margin: 0;
}

/* NAV*/
nav img{
  z-index: 1;
  position: fixed;
  top: 9px;
  left: 10%;
}
nav ul {
  z-index: 0;
  list-style-type: none;
  margin: 0;
  padding: 0 10%;
  position: fixed;
  top: 0;
  height: 50px;
  width: 80%;
  overflow: auto;
  background-color: #333333;
   }

nav li {
  display: inline;
  float: right; 
  text-transform: uppercase;
  font-family: "Ubuntu";
}
nav ul a{
  display: block;
  padding: 10px;
  color: #FF0099;
  line-height: 30px;
}
nav ul a:hover{
  background-color: #FF0099;
  color: #333333;
}

/*ANCHOR OFFSET*/
:target::before {
  content: "";
  display: block;
  height: 65px;
  margin: -65px 0 0; 
}

/* MAIN*/
main {
  padding: 80px 10% 5%;
}
main h2{
  text-align: center;
}
main p {
  font-family: "Consolas";
  line-height: 1.8;
}

/*ABOUT_ME*/
.about_me h1{
  font-size: 40px;
}
.about_me h3{
  color: #FF0099;
}

/*WIKI*/


/* SEPARATOR*/
.separator{
  text-align: center;
  letter-spacing: 10px;
  line-height: 40px;
  font-weight: bold;
}   