<!DOCTYPE html>
<html>

  <head> 
    <title>Login</title>
    <link href="/styles.css" type="text/css" rel="stylesheet">
  </head>   

  <body>
    <table>
      <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Items in stock</th>
      </thead>

      <tbody>
        <tr th:each="item : ${items}">
          <td th:text="${item.getName()}"></td>
          <td th:text="${item.getDescription()}"></td>
          <td th:text="${item.getPrice()}"></td>
          <td th:text="${item.getStock()}"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
