body {
  margin: 5%;
  background-color: rgb(62,148,236)
}

table {
  margin: 0px auto;            
  width: 100%;
  background-color: white;
  border: 0px;
  border-radius: 0.2em;
  border-collapse: collapse;
  font-size: 20px
}

th {
  padding 1em;
  background-color: #1b1e24;
  color: #ebebeb;
  text-align: left; 
  font-size: 30px;
}

tr {
  background: white;
  color: #666b85;
}

tr:nth-child(2n + 1) {
  background: #ebebeb;
}