<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
  <link rel="stylesheet" th:href="@{/style.css}"/>
  <meta charset="utf-8"/>
</head>
<body>
<a href="/">Home</a>

<form th:action="@{/login} " method="post">
  <label>
    <select name="index">
      <option value="">Select fox</option>
      <option th:each="Fox : ${foxList}"
              th:text="${Fox.name}"
              th:value="${FoxStat.index}">
      </option>
    </select>
    <input type="submit" value="Select fox">
  </label>
</form>

</body>
</html>