<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Registration</title>
  <link rel="stylesheet" th:href="@{/style.css}"/>
  <meta charset="utf-8"/>
</head>
<body>
<a href="/">Home</a>

<h1>Welcome to Programmer Fox Club!</h1>
<p th:style="'color:' + ${color}" th:text="${text}"></p>

<form th:action="@{/registration}" method="post">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" autofocus required>
  <input type="submit" value="GO">
</form>

</body>
</html>